
<head>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  
    <title>User Login</title>
  </head>
  
  <body> 
 
    <div class="main"> 
      <nav class="navbar navbar-inverse">
 
        <ul class="nav nav-tabs" align="center">
            <li ><a routerLink="">User Login</a></li>
            
            <li><a routerLink="/adminlogin">Admin Login</a></li>
        </ul>
      </nav>
  
      <p class="sign" align="center">User Login</p>
       
      <form class="form1"> 
        <div align="center"><img src="../../../assets/images/UserLogin.jpg" height="200px" width="200px" ></div>
       
        <input class="un " type="text" align="center" placeholder="Email">
        <input class="pass" type="password" align="center" placeholder="Password">
        <a class="submit" align="center">Sign in</a>
        <p class="forgot" align="center"><a href="#">Forgot Password?</a></p>

      </form>      
                  
      </div>
  </body>
  
  