

<head>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Admin Login</title>
</head>

<body>
  <div id="admin" class="section">
  <div class="main">
    <nav class="navbar navbar-inverse">
 
      <ul  class="nav nav-tabs" align="center">
        <li style="margin-left : 60px"><a [routerLink]="['/userlogin']" class="nav-item ml-auto nav-link user-action"><b>User Login</b> </a></li>
        
        <li style="margin-right : 60px"><a [routerLink]="['/adminlogin']"  class="nav-item ml-auto nav-link user-action"><b>Admin Login</b></a></li>
    </ul>
    </nav>
    <p class="sign" align="center">Admin Login</p>
    
    <form class="form1" [formGroup]="loginForm" >
      <div align="center"><img src="../../../assets/images/AdminLogin.jpg" height="200px" width="200px" ></div>
      <input class="un "  align="center" type="text" placeholder="Email"  formControlName="email" name="email">
      <div *ngIf="submitted && loginForm.controls.email.errors">   <div class="alert alert-danger" *ngIf="loginForm.controls.email.errors.required">Email is required.  </div>  </div>
      <input class="pass" type="password" align="center" placeholder="Password"   formControlName="password" name="password">
      <div *ngIf="submitted && loginForm.controls.password.errors">   <div class="alert alert-danger" *ngIf="loginForm.controls.password.errors.required">Password is required.  </div>  </div>
      <button type="submit" class="submit" align="center" (click)="doAdminLogin()" >Sign in</button>
      
    </form>      
                
    </div>
  </div>
</body>

