.container-fluid
{
    z-index:1;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width:100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    min-height: calc(100vh - 130px);
}
html,body{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height:100%;
    width:100%;
    z-index:1;
    background-color: transparent;
}
#mycarousel
{
    min-height: calc(100vh - 30px);
    position:fixed;
    min-width:100%;
    overflow: s;
	z-index:-1;
}
.carousel,
.carousel-inner {
	min-width:100%;
	min-height: calc(100vh - 30px);
	z-index:-1;
	overflow:hidden;
}
img{
    min-width:100%;
	min-height: calc(100vh - 30px);
	background-position:center center;
    background-size:cover;
    z-index: -1;
}
.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out .7s;
}

.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}

.carousel-control-prev
{
    z-index: 3;
}