<div class="row gutter-row d-flex w-100 justify-content-between">
    <div class="col gutter-col">
        <div class="title ml-1">ONE WAY TRIP</div>
    </div>
    <div class=" subcol col no-gutters">
        <div class="title">Economy</div>
    </div>
    <div class="subcol col no-gutters">
        <div class="title">Business</div>
    </div>
</div>
<div class="list-group">
    <div *ngFor="let flight of Flight">
      <button type="button" class="list-group-item list-group-item-action" (click)="selectFlight(flight)">
        <div class="row gutter-row">
        <div class="col gutter-col ">
            <div class="d-flex w-100 justify-content-between">
                 <h5 class="mb-1"><b>{{flight.DepartTime| timeTransform: flight.DepartTime}}-{{flight.ArrivalTime| timeTransform:flight.ArrivalTime}}</b></h5>
                 <h5 class="mb-1"><b>{{flight.FlightId}}</b></h5>
            </div>
            <small class="text-muted">{{flight.SourceId}}-{{flight.DestinationId}}</small>
        </div>
        <div class="subcol col no-gutters">
            <h5 class="mb-1"><b>{{flight.EconomyPrice}}</b></h5>
        </div>
        <div class="subcol col no-gutters">
            <h5 class="mb-1"><b>{{flight.BusinessPrice}}</b></h5>
        </div>
        </div>
      </button>
    </div>
</div>  