<div class="container d-flex w-100 justify-content-around">
        <div class="col">
            <div class="row gutter-row d-flex w-100 justify-content-between">
                <div class="col gutter-col">
                    <div class="title ml-1">Flight Details</div>
                </div>
                <div class=" subcol col no-gutters">
                    <div class="title">Economy</div>
                </div>
                <div class="subcol col no-gutters">
                    <div class="title">Business</div>
                </div>
            </div>
            <div class="list-group">
                <div *ngFor="let flight of flights">
                  <button type="button" class="list-group-item list-group-item-action" (click)="selectFlight(flight)">
                    <div class="row gutter-row">
                    <div class="col gutter-col ">
                        <div class="d-flex w-100 justify-content-between">
                             <h5 class="mb-1"><b>{{flight.DepartTime| timeTransform: flight.DepartTime}}-{{flight.ArrivalTime| timeTransform:flight.ArrivalTime}}</b></h5>
                             <h5 class="mb-1"><b>{{flight.FlightId}}</b></h5>
                        </div>
                        <small class="text-muted">{{flight.SourceId}}-{{flight.DestinationId}}</small>
                    </div>
                    <div class="subcol col no-gutters">
                        <h5 class="mb-1"><b>{{flight.EconomyPrice}}</b></h5>
                    </div>
                    <div class="subcol col no-gutters">
                        <h5 class="mb-1"><b>{{flight.BusinessPrice}}</b></h5>
                    </div>
                    </div>
                  </button>
                </div>
            </div>  
        </div>
        <div class="col" *ngIf="isReturn">
            <div class="row gutter-row d-flex w-100 justify-content-between">
                <div class="col gutter-col">
                    <div class="title ml-1">Flight Details</div>
                </div>
                <div class=" subcol col no-gutters">
                    <div class="title">Economy</div>
                </div>
                <div class="subcol col no-gutters">
                    <div class="title">Business</div>
                </div>
            </div>
            <div class="list-group">
                <div *ngFor="let flight of returnFlights">
                  <button type="button" class="list-group-item list-group-item-action"(click)="selectReturnFlight(flight)">
                    <div class="row gutter-row">
                    <div class="col gutter-col ">
                        <div class="d-flex w-100 justify-content-between">
                             <h5 class="mb-1"><b>{{flight.DepartTime| timeTransform: flight.DepartTime}}-{{flight.ArrivalTime| timeTransform:flight.ArrivalTime}}</b></h5>
                             <h5 class="mb-1"><b>{{flight.FlightId}}</b></h5>
                        </div>
                        <small class="text-muted">{{flight.SourceId}}-{{flight.DestinationId}}</small>
                    </div>
                    <div class="subcol col no-gutters">
                        <h5 class="mb-1"><b>{{flight.EconomyPrice}}</b></h5>
                    </div>
                    <div class="subcol col no-gutters">
                        <h5 class="mb-1"><b>{{flight.BusinessPrice}}</b></h5>
                    </div>
                    </div>
                  </button>
                </div>
            </div>  
        </div>
        <button mat-raised-button color="accent" class="continue" (click)= "continue()" *ngIf="selected && (returnSelected || (!returnSelected&&!isReturn))" >Continue</button>
</div>



