.container{
    padding-top: 5%;
    display:flex;
}
.list-group{
    padding-top: 2rem;
  }

 .title {
    font-weight: 600;
    text-transform: uppercase;
    padding-left:5px;
}
.subcol
{
    text-align: center;
}
.continue
{
    width:10vh;
}