<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <div id="booking" class="section">
    <div class="section-center">-->
        <div class="container">
                <div class="booking-form">
                    <form [formGroup]="SearchForm"  (ngSubmit)="(onSubmit(SearchForm.value))">
                        <div class="form-group">
                            <div class="form-checkbox">
                                <label for="roundtrip">
                                    <input   type="radio" id="roundtrip" value="roundtrip" formControlName="flighttype"   >
                                    <span></span>Roundtrip
                                </label>
                                <label for="one-way">
                                    <input type="radio" id="one-way" name="flighttype"  value="oneway" formControlName="flighttype"  >
                                    <span></span>One way
                                </label>
                                		
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Flying from</span>
                                    <select class="form-control"  formControlName="source" [(ngModel)] = "source">
                                        <option value="" selected disabled hidden>Fying from</option>
                                        <option *ngFor="let airport of airports" value="{{airport.AirportId}}">{{airport.CityName}}({{airport.AirportId}}) </option>
                                    </select>
                                    <div *ngIf="SearchForm.controls.source.errors">
                                        <div class="alert alert-danger" *ngIf="SearchForm.controls.source.errors.required">
                                            From is required.
                                        </div>
                                     </div>
   
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Flying to</span>
                                    <select class="form-control"  formControlName="destination" [(ngModel)] = "destination">
                                        <option value="" selected disabled hidden>Fying To</option>
                                        <ng-container *ngFor="let airport of airports">
                                            <option [value]="airport.AirportId" *ngIf="airport.AirportId != source" >
                                              {{ airport.AirportId }}({{airport.CityName}})
                                    
                                            </option>
                                        </ng-container>
                                        </select>
                                     <div *ngIf="SearchForm.controls.destination.errors">
                                        <div class="alert alert-danger" *ngIf="SearchForm.controls.destination.errors.required">
                                            From is required.
                                        </div>
                                     </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <span class="form-label">Departing</span>
                                    <input class="form-control" type="date"   [min]="todayShort" formControlName="departdate"  [(ngModel)]="departdate">
                                    <div *ngIf="SearchForm.controls.departdate.errors">
                                        <div class="alert alert-danger" *ngIf="SearchForm.controls.departdate.errors.required">
                                            From is required.
                                        </div>
                                     </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <span class="form-label">Returning</span>
                                    <input class="form-control" type="date" id="returndate" [min]="departdate" formControlName="returndate">
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <span class="form-label">Adults (18+)</span>
                                        <input class="form-control" type="text" placeholder="count" formControlName="adultpassengercount" list="count">
                                        <datalist id="count">  
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        </datalist>
                                    <span class="select-arrow"></span>
                                    <div *ngIf="submitted && SearchForm.controls.adultpassengercount.errors">
                                        <div class="alert alert-danger" *ngIf="SearchForm.controls.adultpassengercount.errors.required">
                                            Minimum 1 adult is required.
                                        </div>
                                     </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <span class="form-label">Children (3-17)</span>
                                    <input class="form-control" type="text" placeholder="count"  formControlName="childpassengercount" list="count">
                                    <datalist id="count">  
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    </datalist>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <span class="form-label">Infant(0-3)</span>
                                    <input class="form-control" type="text" placeholder="count"  formControlName="infantpassengercount" list="count">
                                    <datalist id="count">  
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    </datalist>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <span class="form-label">Travel class</span>
                                    <select class="form-control"  formControlName="seatclass" >
                                        <option value="" selected disabled hidden>Select class</option>
                                        <option selected>Economy class</option>
                                        <option>Business class</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                    <div *ngIf="submitted && SearchForm.controls.seatclass.errors">
                                    <div class="alert alert-danger" *ngIf="SearchForm.controls.seatclass.errors.required">
                                        Select class .
                                    </div>
                                </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-btn">
                                    <button class="submit-btn" type="submit" [disabled]='!SearchForm.valid'>Show flights</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        <!--</div>
    </div>
</div> --> 
