.main {
    font-weight: 400;
    padding: 2rem;
    color: black;
    font-size:20px;
    width: 1200px;
    height: auto;
    margin: 0em auto;
    border-radius: 1.5em;
    
        box-shadow: 0px 11px 35px 2px rgba(245, 202, 202, 0.14);
} 


  mat-toolbar{
    background-color: rgb(34, 20, 109);
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 5%;
-webkit-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
-moz-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
}