
    
<!-- <div align="center" class="main">
    <form [formGroup]="flight"  >
      <mat-form-field>
      <input matInput [matDatepicker]="dateF" required placeholder="Flight Date" formControlName="flightdate" [min]="today" [(ngModel)]="flightdate" >
    <mat-datepicker-toggle matSuffix [for]="dateF"></mat-datepicker-toggle>
     <mat-datepicker #dateF></mat-datepicker>
    </mat-form-field>
    </form>
    <form color="primary" [formGroup]="addFlight" >
  <mat-form-field appearance="outline" >
    <mat-label>Flight ID</mat-label>
    <input matInput required placeholder="Enter Flight ID" formControlName="FlightId"><br>
  </mat-form-field><br>
  <mat-form-field appearance="outline" >
    <mat-label>Source ID</mat-label>
    <mat-select required formControlName="SourceId">
     
      <mat-option *ngFor="let airport of airports" value="{{airport.AirportId}}">{{airport.CityName}}({{airport.AirportId}})</mat-option>
    </mat-select>
  </mat-form-field> &nbsp;&nbsp; -->
                
                        <form [formGroup]="detailsForm" (ngSubmit)="onSubmit(detailsForm)"  *ngIf="!requestSent">
                            <div style="align-items: center;" class="main">
                               
                                <img  src="https://i.imgur.com/28akQFX.jpg" width="100%" height="80px">
                                <br/>
                                <h2>Total amount:{{totalPrice|currency:"INR"}}</h2>
                                <br/>
                                <div  class="form-Group">
                                    <div id=myForm align= "center">
                                        <mat-form-field appearance="outline"> 
                                            <mat-label>Type of Card</mat-label>
                                        <mat-select required  formControlName = "card">
                                            <mat-option *ngFor="let cards of card" [value]="cards">{{cards}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Bank Name</mat-label>
                                        <mat-select  required formControlName = "bank">
                                        <mat-option *ngFor="let banks of bank" [value]="banks">{{banks}}</mat-option>
                                        </mat-select>
                                    </mat-form-field> <br>
                                    <button mat-raised-button type="submit" color="primary">Proceed</button> &nbsp;&nbsp;
                                    <button mat-raised-button  [routerLink]="['paymentgateway']" color="accent">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                          
                        <form [formGroup]="carddetailsForm" (ngSubmit)="onSubmit2(carddetailsForm)" class="form-signin" *ngIf="requestSent && !makepayment" >
                            <div style="align-items: center;" class="main"> 
                                <div class="form-group"> 
                                    <mat-form-field appearance="outline" >
                                        <mat-label>Card No</mat-label>
                                        <input type="number"matInput required placeholder="1111-2222-3333-4444" formControlName="cardNumber">
                                      </mat-form-field><br>
                                      <mat-form-field appearance="outline" >
                                        <mat-label>CVV</mat-label>
                                        <input type="number" matInput required placeholder="123" formControlName="cardCvv">
                                      </mat-form-field><br> 
                                      <mat-form-field appearance="outline" >
                                        <mat-label>Card Holder Name</mat-label>
                                        <input matInput required placeholder="Full Name" formControlName="cardHolderName">
                                      </mat-form-field><br>
                                      <mat-form-field appearance="outline" >
                                        <mat-label>Mobile linked to Card</mat-label>
                                        <input matInput required placeholder="Mobile" value="mobilenumber" formControlName="mobilenumber">
                                      </mat-form-field><br>
                                      <mat-form-field appearance="outline" >
                                        <mat-label>Card Expiry</mat-label>
                                        <input matInput required placeholder="MM/YY" value="cardExpiry" formControlName="cardExpiry">
                                      </mat-form-field><br>
                                      <button mat-raised-button color="primary"  type="submit" >Get OTP</button>                             
                                <button mat-raised-button color="secondary"  routerLink="/"> Back</button>
                                 <button  mat-raised-button color="accent"  type="reset"> Cancel</button>
                                </div>
                                
                                </div>
                        </form>  
                        <form [formGroup]="OtpForm" (ngSubmit)="onSubmit3(OtpForm)" class="form-signin" *ngIf="makepayment" >
                            <div style="align-items: center;" class="main">
                                <div class="form-group"> 
                                    <mat-form-field appearance="outline" >
                                        <mat-label>Enter OTP</mat-label>
                                        <input matInput required placeholder="xxxx" value="otp" formControlName="otp">
                                      </mat-form-field><br> 
                                      <button mat-raised-button color="primary"  type="submit" >Pay</button>                            
                                 <button  mat-raised-button color="accent" routerLink="/"> Cancel</button> 
                                </div>
                            </div>
                        </form>
                           <!--   <form [formGroup]="OtpForm" (ngSubmit)="onSubmit3(OtpForm)" class="form-signin" *ngIf="makepayment" >
                            <div class="main">
                                <div class="form-group">
                                    <label for="otp" class="font-weight-bold">
                                        Enter OTP:
                                    </label>
                                    <i class="fa fa-lock icon"></i>
                                    <input type="text" class="form-control" placeholder="Enter OTP"  formControlName="otp" #otp >
                                    <div *ngIf="f3.otp.touched && f3.otp.invalid" class="alert alert-danger">
                                        <div *ngIf="f3.otp.errors.required">OTP is required.</div>
                                        <div *ngIf="f3.otp.errors.minlength">OTP should be of 4 digits.</div>
                                        <div *ngIf="f3.otp.errors.maxlength">OTP should be of 4 digits.</div>
                                        <div *ngIf="f3.otp.errors.pattern">Enter only numbers.</div>
                                    </div>
                                </div>
                                <button class="btn btn-success" type="submit"  [disabled]="!OtpForm.valid">Pay</button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                                <button class="btn btn-primary" routerLink="/"> Back</button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-danger" type="reset"> Cancel</button>
                            </div>
                        </form>         
                                  
                        </form> -->
                        <!-- <form [formGroup]="carddetailsForm" (ngSubmit)="onSubmit2(carddetailsForm)" class="form-signin" *ngIf="requestSent && !makepayment" >
                            <div class="main">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>CARD NUMBER</label>
                                        <div class="input-group">
                                                <i class="fa fa-credit-card icon"></i>
                                                <input type="text" class="form-control" placeholder="1111-2222-3333-4444"  formControlName="cardNumber" #cardNumber >
                                                <div *ngIf="f2.cardNumber.hasError('required') && f2.cardNumber.touched" class="alert alert-danger">
                                                    Card Number is required
                                                </div>
                                                <div *ngIf="f2.cardNumber.hasError('pattern')" class="alert alert-danger">
                                                    Only digits are allowed
                                                </div>
                                                <div *ngIf="f2.cardNumber.errors.maxlength">Card Number should be of 16 digits.</div>
                                            </div>
                        
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 col-md-5 float-xs-right">
                                        <div class="form-group">
                                            
                                            <label>CVV CODE</label>
                                            <input type="text" class="form-control" placeholder="352"  formControlName="cardCvv" #cardCvv >
                                            <div *ngIf="f2.cardCvv.hasError('required') && f2.cardCvv.touched" class="alert alert-danger">
                                                CVV is required
                                            </div>
                                            
                                            <div *ngIf="f2.cardCvv.errors.maxlength">CVV should be of 3 digits.</div>
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>CARD HOLDER NAME</label>
                                            <div class="input-group-prepend">
                                                <i class="fa fa-user icon"></i>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Enter Name"  formControlName="cardHolderName" #cardHolderName >
                                            <div *ngIf="f2.cardHolderName.hasError('required') && f2.cardHolderName.touched" class="alert alert-danger">
                                                Card Holder Name is required
                                            </div>
                                            <div *ngIf="f2.cardHolderName.hasError('pattern')" class="alert alert-danger">
                                                Only alphabets
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 col-md-5 float-xs-right">
                                        <div class="form-group">
                                            <label>MOBILE NUMBER</label>
                                            <i class="fa fa-mobile icon"></i>
                                            <input type="text" class="form-control" placeholder="Enter Mobile No.."  formControlName="mobilenumber" #mobilenumber >
                                            <div *ngIf="f2.mobilenumber.hasError('required')&& f2.mobilenumber.touched" class="text-danger">
                                                Mobile Number is required
                                            </div> 
                                            <div *ngIf="f2.mobilenumber.hasError('pattern')" class="text-danger">
                                                Please enter valid mobile number
                                            </div>
                                            <div *ngIf="f2.mobilenumber.errors.maxlength">mobile number should be of 11 digits.</div>
                                        
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button class="btn btn-success" type="submit" >Get OTP</button>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                                            <button class="btn btn-primary" routerLink="/"> Back</button>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button class="btn btn-danger" type="reset"> Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form [formGroup]="OtpForm" (ngSubmit)="onSubmit3(OtpForm)" class="form-signin" *ngIf="makepayment" >
                            <div class="main">
                                <div class="form-group">
                                    <label for="otp" class="font-weight-bold">
                                        Enter OTP:
                                    </label>
                                    <i class="fa fa-lock icon"></i>
                                    <input type="text" class="form-control" placeholder="Enter OTP"  formControlName="otp" #otp >
                                    <div *ngIf="f3.otp.touched && f3.otp.invalid" class="alert alert-danger">
                                        <div *ngIf="f3.otp.errors.required">OTP is required.</div>
                                        <div *ngIf="f3.otp.errors.minlength">OTP should be of 4 digits.</div>
                                        <div *ngIf="f3.otp.errors.maxlength">OTP should be of 4 digits.</div>
                                        <div *ngIf="f3.otp.errors.pattern">Enter only numbers.</div>
                                    </div>
                                </div>
                                <button class="btn btn-success" type="submit"  [disabled]="!OtpForm.valid">Pay</button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                                <button class="btn btn-primary" routerLink="/"> Back</button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-danger" type="reset"> Cancel</button>
                            </div>
                        </form>
     -->
   


    
        
    
        
   
    