
     <div  class="container"> 
        <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
        <form class="form-horizontal"  method="post" (ngSubmit)="(onSubmit(addUser.value))" id="addUser" [formGroup]="addUser">
            <fieldset>
                <h3  align="center">Register yourself</h3>
                <div align="center" class="form-group" >
                    <label class="col-md-4 control-label">Title:</label>   
                    <div class="col-md-4 selectContainer">
                        <div class="input-group"> 
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                    <select  formControlName="Title" id="Title"  class="form-control selectpicker" required [ngClass]="{ 'is-invalid': submitted && f.Title.errors }" >
                        <option type="text"  value="Mr">Mr</option>
                        <option type="text" value="Mrs">Mrs</option>
                        <option type="text" value="Miss">Miss</option>
                    </select>
                        </div>
                        <div class="text-danger" *ngIf="addUser.get('Title').hasError('required')&& addUser.get('Title').touched" >
                            Title is required
                            </div>
                    </div>
                </div>

                <div [formGroup]="addUser">
                <div  align="center"  class="form-group" >
                    <label class="col-md-4 control-label">First Name</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  formControlName="FirstName" placeholder="First Name" class="form-control" type="text" [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }" >                      
                       
                        </div>
                </div>  
                <br><br>  
                <div class="text-danger" *ngIf="addUser.get('FirstName').hasError('required')&& addUser.get('FirstName').touched" >
                    First name is required
                    </div>
                    <div *ngIf="addUser.get('FirstName').hasError('pattern')" class="text-danger">
                        Please enter only alphabets
                  </div>    
            </div> 
                </div> 

                <div [formGroup]="addUser">
            <div  align="center" class="form-group" >
            <label class="col-md-4 control-label" >Last Name</label> 
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input formControlName="LastName" placeholder="Last Name" class="form-control"  type="text" [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }">
                       
                    </div>
                </div>
                <br><br>
                <div *ngIf="addUser.get('LastName').hasError('required')&& addUser.get('LastName').touched" class="text-danger" >
                    Last name is required
       </div> 
      <div *ngIf="addUser.get('LastName').hasError('pattern')" class="text-danger">
             Please enter only alphabets
       </div>   
            </div>
                </div>

           <div [formGroup]="addUser">
            <div align="center" class="form-group" >
                <label class="col-md-4 control-label">Date Of Birth</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <input type="date" value="DateOfBirth|Date" class="form-control" formControlName="DateOfBirth" [max]="todayShort" id="DateOfBirth" placeholder="Date of Birth" [ngClass]="{ 'is-invalid': submitted && f.DateOfBirth.errors }">
                       
                    </div>
                </div>
                <br><br>
                <div *ngIf="addUser.get('DateOfBirth').hasError('required')&& addUser.get('DateOfBirth').touched" class="text-danger" >
                    DOB is required
                </div> 
            </div>
           </div>

           <div [formGroup]="addUser">   
            <div  align="center"  class="form-group" >
                <label class="col-md-4 control-label">E-Mail</label>  
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input formControlName="UserEmailId" id="email" placeholder="E-Mail Address" class="form-control"  type="text" [ngClass]="{ 'is-invalid': submitted && f.UserEmailId.errors }">        
                        </div>
                    </div>
                    <br><br>
                    <div class="text-danger" *ngIf="addUser.get('UserEmailId').hasError('required')&& addUser.get('UserEmailId').touched">
                        Email Id is required
                        </div>
                        <div class="text-danger" *ngIf="addUser.get('UserEmailId').hasError('email')">
                           Please enter correct email id
                        </div> 
                </div>
           </div>

           <div [formGroup]="addUser">
                <div  align="center"  class="form-group" >
                <label class="col-md-4 control-label">Phone</label>  
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                        <input formControlName="MobileNumber" placeholder="(845)555-1212" class="form-control" type="text" [ngClass]="{ 'is-invalid': submitted && f.MobileNumber.errors }">
                           
                        </div>
                    </div><br><br>
                    <div *ngIf="addUser.get('MobileNumber').hasError('required')&& addUser.get('MobileNumber').touched" class="text-danger">
                        Mobile Number is required
                        </div> 
                        <div *ngIf="addUser.get('MobileNumber').hasError('pattern')" class="text-danger">
                        Please enter valid mobile number
                        </div> 
                </div>
           </div>

           <div [formGroup]="addUser">
                <div class="form-group" align="center" >
                    <label class="col-md-4 control-label" >Password</label> 
                      <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input formControlName="Password" placeholder="Password" class="form-control"  type="password" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }">
                    </div>
                      </div><br><br>
                      <div *ngIf="addUser.get('Password').hasError('required')&& addUser.get('Password').touched" class="text-danger">
                        Password is required
                    </div> 
                    <div *ngIf="addUser.get('Password').hasError('pattern')" class="text-danger">
                        Password must contain atleast one lower case alphabet, one upper case alphabet, one digit, one special character
                    </div>
                    <div *ngIf="addUser.get('Password').hasError('minlength')" class="text-danger">Password must be at least 8 characters</div>
                   
                </div>
           </div>
                  
           <div [formGroup]="addUser">
                  <div class="form-group" align="center" >
                    <label class="col-md-4 control-label" >Confirm Password</label> 
                      <div class="col-md-4 inputGroupContainer">
                      <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input formControlName="confirmPass" placeholder="Confirm Password" class="form-control"  type="password"  [ngClass]="{ 'is-invalid': submitted && f.confirmPass.errors }">
                  
                      </div>
                    </div><br><br>
                    <div class="text-danger" *ngIf="addUser.hasError('notSame')">
                        Passwords do not match
                    </div> 
                  </div>
                </div>
                  
                <div class="form-group" align="center">
                <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                    <button class="submit" type="submit" class="btn btn-warning" >Register <span class="glyphicon glyphicon-send"></span></button>&nbsp;&nbsp; &nbsp;&nbsp;
                    <button  class="btn btn-danger" align="center" (click)="this.route.navigate(['userlogin'])" >Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>


                   