.my-card{
    width: 100%;
    height:400px;
    padding: 0% !important;
    display: flex;
    width: 700px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border-radius: 1.5em;
    -webkit-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
    -moz-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
    box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
}

/* font-size: large;
width: 500px;
height: auto;
margin: 0em auto;

box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14); */

.full-width {
    width: 100%;
  }
  .mat-form-field {
    width: 76%;
    letter-spacing: 1px;
    padding: 10px 20px;
    margin-bottom: 50px;
    margin:auto;   
}

mat-toolbar{
    color: #fff;
    background-color: #e91e63;
    text-align: center;
    padding: 1%;
-webkit-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
-moz-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
}
