<div class = "main">
<div class="plane">
    <div class="cockpit">
      <h1>Please select your seat(s)</h1>
    </div>
    <div class="exit exit--front fuselage">
  
    </div>
    <ol class="cabin fuselage">
      <li class="row row--1">
        <ol class="seats" type="E">
          <li class="seat">
            <input type="checkbox" id="E1" />
            <label for="E1">E1</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E2" />
            <label for="E2">E2</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E3" />
            <label for="E3">E3</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E4" />
            <label for="E4">E4</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E5" />
            <label for="E5">E5</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E6" />
            <label for="E6">E6</label>
          </li>
        </ol>
      </li>
      <li class="row row--2">
        <ol class="seats" type="E">
          <li class="seat">
            <input type="checkbox" id="E7" />
            <label for="E7">E7</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E8" />
            <label for="E8">E8</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E9" />
            <label for="E9">E9</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E10" />
            <label for="E10">E10</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E11" />
            <label for="E11">E11</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E12" />
            <label for="E12">E12</label>
          </li>
        </ol>
      </li>
      <li class="row row--3">
        <ol class="seats" type="E">
          <li class="seat">
            <input type="checkbox" id="E13" />
            <label for="E13">E13</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E14" />
            <label for="E14">E14</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E15" />
            <label for="E15">E15</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E16" />
            <label for="E16">E16</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E17" />
            <label for="E17">E17</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E18" />
            <label for="E18">E18</label>
          </li>
        </ol>
      </li>
      <li class="row row--4">
        <ol class="seats" type="E">
          <li class="seat">
            <input type="checkbox" id="E19" />
            <label for="E19">E19</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E20" />
            <label for="E20">E20</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E21" />
            <label for="E21">E21</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E22" />
            <label for="E22">E22</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E23" />
            <label for="E23">E23</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E24" />
            <label for="E24">E24</label>
          </li>
        </ol>
      </li>
      <li class="row row--5">
        <ol class="seats" type="E">
          <li class="seat">
            <input type="checkbox" id="E25" />
            <label for="E25">E25</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E26" />
            <label for="E26">E26</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E27" />
            <label for="E27">E27</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E28" />
            <label for="E28">E28</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E29" />
            <label for="E29">E29</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E30" />
            <label for="E30">E30</label>
          </li>
        </ol>
      </li>
      <li class="row row--6">
        <ol class="seats" type="E">
          <li class="seat">
            <input type="checkbox" id="E31" />
            <label for="E31">E31</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E32" />
            <label for="E32">E32</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E33" />
            <label for="E33">E33</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E34" />
            <label for="E34">E34</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E35" />
            <label for="E35">E35</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E36" />
            <label for="E36">E36</label>
          </li>
        </ol>
      </li>
      <li class="row row--7">
        <ol class="seats" type="E">
          <li class="seat">
            <input type="checkbox" id="E37" />
            <label for="E37">E37</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E38" />
            <label for="E38">E38</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E39" />
            <label for="E39">E39</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E40" />
            <label for="E40">E40</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E41" />
            <label for="E41">E41</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="E42" />
            <label for="E42">E42</label>
          </li>
        </ol>
      </li>
      <li class="row row--8">
        <ol class="seats" type="B">
          <li class="seat">
            <input type="checkbox" id="B1" />
            <label for="B1">B1</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="B2" />
            <label for="B2">B2</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="B3" />
            <label for="B3">B3</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="B4" />
            <label for="B4">B4</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="B5" />
            <label for="B5">B5</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="B6" />
            <label for="B6">B6</label>
          </li>
        </ol>
      </li>
      <li class="row row--9">
        <ol class="seats" type="B">
          <li class="seat">
            <input type="checkbox" id="B7" />
            <label for="B7">B7</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="B8" />
            <label for="B8">B8</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="B9" />
            <label for="B9">B9</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="B10" />
            <label for="B10">B10</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="B11" />
            <label for="B11">B11</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="B12" />
            <label for="B12">B12</label>
          </li>
        </ol>
      </li>
      <li class="row row--10">
        <ol class="seats" type="B">
          <li class="seat">
            <input type="checkbox" id="B13" />
            <label for="B13">B13</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="B14" />
            <label for="B14">B14</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="B15" />
            <label for="B15">B15</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="B16" />
            <label for="B16">B16</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="B17" />
            <label for="B17">B17</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="B18" />
            <label for="B18">B18</label>
          </li>
        </ol>
      </li>
    </ol>
    <br>
    <!-- <div class="exit exit--back fuselage">
        <br>
    </div> -->
    <div align="center">
    <button style="margin-bottom: 2rem;" class="btn btn-success" routerLink="/payment">BOOK ME</button>
    </div>
  </div>
</div>