

.main {
    font-size: large;
    width: 600px;
    height: auto;
    margin: 0em auto;
    border-radius: 1.5em;
    margin-left: 100px;
    box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
}


button{
    margin-bottom: 2rem;
}
mat-toolbar{
    background-color: orangered;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 5%;
-webkit-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
-moz-box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
box-shadow: 2px 4px 58px -20px rgba(0,0,0,1);
}